*{
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background: #fff;
    color: #000;
    font-size: 14px;
    line-height: 1.3;
    margin: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
li{
    list-style: none;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.container-inner{
    max-width: 960px;
    margin: 0 auto;

}
.row{
    display: flex;
    justify-content: space-between;
}
.constructor-block{
    position: relative;
}
.constructor-dreen{
    width: 65%;
    height: 384px;
    background-color: #10bb87;
    background-image: url(../img/pattern11.png);
    background-position: 100% 50%;
    background-repeat: no-repeat;
    border-radius: 28px 0 0 0;
    position: absolute;
    right: 0;
    z-index: -2;

}
.constructor-info{
    max-width: 352px;
    margin: 0 auto;
    margin-top: 50px;

}
.constructor-info .title{
    color: #fff;
}
.constructor-info .p{
    margin-bottom: 28px;
    color: #487b6c;
}
.icon{
    top: 30px;
    padding: 16px;
    width: 192px;
    text-align: center;
}
.text{
    font-size: 36px;
    margin-left: 7%;
}
.col{

    display: flex;
    flex-direction: column;
}
.col-img{
    width: 192px;
    height: 192px;
    border-radius: 15px;
    background-color:#eeebeb ;
    /* margin-right: 50px; */
    font-weight: 40px;
}
.imge{
    margin:  auto;
   display: block;
   padding-top: 30px;
   align-items: center;
}
.p{
    /* padding-top: 60px; */
    font-size: 16px;
}
.a{
    width: 64px;
    height: 24px;
    border-radius: 10px;
    background-color: #10BB87;
    color: #fff;
    margin-left: 14px;
    padding: 3px;
    transition: 1s;
}
.icon{
    border-radius: 15px;
    background-color: rgb(238, 234, 234) ;
    font-size: 18px;
    margin-top: auto;
    color: #fff;
}
.col:hover  .icon{
    background-color: #10BB87;
}
.col:hover  .a{
    opacity: 0;
}
.services{
    font-size: 24px;
    padding-top: 20px;
    margin-right: 50px;
    font-weight: 600;
}
.logo{
    width: 44px;
    height:30px ;
    border-radius: 8px;
    background-color: #f0f1f1;
    text-align: center;
}
.col-row{
    margin-left: 88px;
    padding-top: 100px;
}
.More{
    width: 160px;
    height: 40px;
    border-radius: 16px;
    background-color: aqua;
    padding: 18px 48px;
    margin-right: 20px;
    font-weight: 700;
}
